script(src='./lib/jquery-3.1.1.slim.min.js')
script(src='./lib/fabric.js')

style.
    .drawing > * {
        border: solid 1px black;
        display: inline-block;
    }

h1 Problem 2: Modelling a differentially steered robot
.drawing
    canvas#cvs
    canvas#chart(width='400', height='400')

button#reset Randomize
button#toggle Head to origin/ follow path

script(src='./main.js')
script(src='./charting.js')